---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: insecure-skip-verify
  namespace: rook-ceph
spec:
  insecureSkipVerify: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: rook-ceph-mgr-dashboard
  namespace: rook-ceph
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
  - web
  - websecure
  routes:
  - match: "Host(`ceph.${clusterdomain:=undefined}`)"
    kind: Rule
    services:
    - kind: Service
      name: rook-ceph-mgr-dashboard
      scheme: https
      port: 8443
      serversTransport: insecure-skip-verify
  tls: {}