---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: insecure-skip-verify
  namespace: rook-ceph
spec:
  insecureSkipVerify: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: rook-ceph-mgr-dashboard
  namespace: rook-ceph
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
  - web
  - websecure
  routes:
  - match: "Host(`ceph.${clusterdomain:=undefined}`)"
    kind: Rule
    services:
    - kind: Service
      name: rook-ceph-mgr-dashboard
      scheme: https
      port: 8443
      serversTransport: insecure-skip-verify
  tls: {}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rook-ceph-rgw-ceph-objectstore
  namespace: rook-ceph
  annotations:
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure,web
  labels:
    external-dns-export: "true"
    tooc.k8s.stiil.dk/export: "true"
    tooc.k8s.stiil.dk/ssl-type: reencrypt
spec:
  ingressClassName: traefik
  rules:
    - host: s3.${topleveldomain:=undefined}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rook-ceph-rgw-ceph-objectstore
                port:
                  name: http