apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- grafana-admin-credentials-external.yaml
- grafana-ldap-credentials-external.yaml
- grafana-generic-oauth-external.yaml
- kube-prometheus-stack-release.yaml
- prometheus-blackbox-exporter-release.yaml
# - prometheus-ingress.yaml
# - grafana-ingress.yaml
- loki-release.yaml
- promtail-release.yaml
- kubernetes-event-exporter.yaml
- flux-monitor.yaml
- kube-prometheus-stack-values-configmap.yaml

- flux-thanos-push.yaml
- thanos-object-bucket-claim.yaml
- thanos-objstore-config-exporter.yaml