---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-blackbox-exporter
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: 11.5.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-oci
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            valid_status_codes: []  # Defaults to 2xx
            method: GET
            follow_redirects: true
            preferred_ip_protocol: "ip4"
        
        https_self_signed:
          prober: http
          timeout: 5s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            valid_status_codes: []  # Defaults to 2xx
            method: GET
            follow_redirects: true
            preferred_ip_protocol: "ip4"
            tls_config:
              insecure_skip_verify: true
        
        icmp_ping:
          prober: icmp
          timeout: 5s
          icmp:
            preferred_ip_protocol: "ip4"
    
    serviceMonitor:
      enabled: true
      defaults:
        labels:
          release: prometheus
        interval: 30s
        scrapeTimeout: 30s
      targets:
        - name: diskstation-http
          url: https://diskstation.${topleveldomain:=undefined}
          module: http_2xx
        - name: secrets-engine-http
          url: https://secrets-engine.${topleveldomain:=undefined}
          module: http_2xx
        - name: auth-http
          url: https://auth.${topleveldomain:=undefined}
          module: http_2xx
        - name: api-server-tpi-http
          url: https://api.tpi.${topleveldomain:=undefined}
          module: https_self_signed
        - name: api-server-k3s-http
          url: https://api.k3s.${topleveldomain:=undefined}
          module: https_self_signed
        - name: home-unifi-icmp
          url: 192.168.10.1
          module: icmp_ping
        - name: emc-unifi-icmp
          url: 192.168.1.1
          module: icmp_ping
        - name: home-tdc-icmp
          url: 192.168.100.1
          module: icmp_ping