apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  valuesContent: |-
    controller:
      kind: Deployment
      replicaCount: 2
      service:
        enabled: true
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 192.168.13.1
      publishService:
        enabled: true
      ingressClassResource:
        default: true
      extraArgs:
        default-ssl-certificate: kube-system/nginx-default-certificate
        enable-ssl-passthrough: ""
      config:
        use-forwarded-headers: "true"
        enable-real-ip: "true"
#        proxy-real-ip-cidr: "192.168.15.0/24"